{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container mt-5">
  <h2>Courses</h2>
  {% if user.is_authenticated and user.is_teacher %}
    <a href="{% url 'faroldesantamartaapp:course_create' %}" class="btn btn-primary mb-3 mt-3">Add New Course</a>
  {% endif %}
  <div class="row">
    {% for course in courses %}
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ course.name }}</h5>
          <p class="card-text">{{ course.description|truncatechars:150 }}</p>
          {% if user.is_authenticated %}
            <a href="{% url 'faroldesantamartaapp:course_detail' course.pk %}" class="btn btn-outline-primary">View</a>
          {% endif %}
          {% if user.is_authenticated and user.is_teacher %}
            <a href="{% url 'faroldesantamartaapp:course_update' course.pk %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'faroldesantamartaapp:course_delete' course.pk %}" class="btn btn-danger">Delete</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- YouTube Video Section -->
  <div class="row mt-5">
    <div class="col-md-12">
      <h3>Learn About Environmental Conservation</h3>
      <p>Watch this video to understand the importance of conserving our environment:</p>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dLDR7u1kosc?si=q3P-F1vcVIeaewde" title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>      </div>
    </div>
  </div>
</div>
{% endblock %}