{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container mt-5">
  <h2>Students</h2>
  {% if user.is_authenticated and user.is_teacher %}
    <a href="{% url 'faroldesantamartaapp:user_create' %}" class="btn btn-primary mb-3 mt-3">Add New Student</a>
  {% endif %}
  <div class="list-group">
    {% for user in users %}
      {% if not user.is_superuser and user.is_student%}
        <a href="{% url 'faroldesantamartaapp:user_detail' user.pk %}" class="list-group-item list-group-item-action">
          {{ user.get_full_name }}
        </a>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
